# SUPABASE CONFIGURATION
VITE_SUPABASE_URL="https://alayuxixflbzkuejosdd.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFsYXl1eGl4Zmxiemt1ZWpvc2RkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkyNDg3MTAsImV4cCI6MjEwNDgyNDcxMH0.qIFzpNvT4HHl_sOR8LAL8D4cWoPTlH2ItltW7G1bx5A"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFsYXl1eGl4Zmxiemt1ZWpvc2RkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4OTI0ODcxMCwiZXhwIjoyMTA0ODI0NzEwfQ.8zOvoEMILY7HUo1V8uHPc_iHmN_yydowddY_sQDb8Gc"
SUPABASE_DB_PASSWORD="An0nKLFhCBYI9Fp2"

# WEB PUSH / VAPID CONFIGURATION
VAPID_PUBLIC_KEY=BORqXEMsjCcWTSqVjgNK12pIl3nJ5FOXJ5FDSGyIGdPGZg-PaCEjXMYGVOFAan3WI8ZwKcueb-mX9yYLQ26UiEE
VAPID_PRIVATE_KEY=2YkJLN9lSq1tp7ArMccGcK9tA7N7he_4HeX2p329Js0
VAPID_SUBJECT=mailto:contact@example.com
